<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>TicketController</servlet-name>
  	<display-name>TicketController</display-name>
  	<description></description>
  	<servlet-class>com.krishna.controller.TicketController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminController</servlet-name>
  	<display-name>AdminController</display-name>
  	<description></description>
  	<servlet-class>com.krishna.controller.AdminController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangePasswordController</servlet-name>
  	<display-name>ChangePasswordController</display-name>
  	<description></description>
  	<servlet-class>com.krishna.controller.ChangePasswordController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddFlightController</servlet-name>
  	<display-name>AddFlightController</display-name>
  	<description></description>
  	<servlet-class>com.krishna.controller.AddFlightController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchFlightController</servlet-name>
  	<display-name>SearchFlightController</display-name>
  	<description></description>
  	<servlet-class>com.krishna.controller.SearchFlightController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchBysrnoController</servlet-name>
  	<display-name>SearchBysrnoController</display-name>
  	<description></description>
  	<servlet-class>com.krishna.controller.SearchBysrnoController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchBysrno</servlet-name>
  	<display-name>SearchBysrno</display-name>
  	<description></description>
  	<servlet-class>com.krishna.controller.SearchBysrno</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AllFlightController</servlet-name>
  	<display-name>AllFlightController</display-name>
  	<description></description>
  	<servlet-class>com.krishna.controller.AllFlightController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TicketController</servlet-name>
  	<url-pattern>/TicketController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminController</servlet-name>
  	<url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangePasswordController</servlet-name>
  	<url-pattern>/ChangePasswordController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddFlightController</servlet-name>
  	<url-pattern>/AddFlightController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchFlightController</servlet-name>
  	<url-pattern>/SearchFlightController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchBysrnoController</servlet-name>
  	<url-pattern>/SearchBysrnoController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchBysrno</servlet-name>
  	<url-pattern>/SearchBysrno</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AllFlightController</servlet-name>
  	<url-pattern>/AllFlightController</url-pattern>
  </servlet-mapping>
</web-app>
